:root {
    /* --primary: #182128;
    --secondary: #253440;
    --tertiary: #535c5b;
    --accent: #fd9221; */

    /* --primary: #0F151A;
    --secondary: #2D3D4E;
    --tertiary: #4A6582;
    --accent: #FD9221; */

    --primary: #182128;
    --secondary: #34495B;
    --accent: #FD9221;
}

body {

    background-image: url("/public/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color: white;
    /* color: var(--accent); */
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;

    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

button,
a {
    transition: color 0.2s ease;
}

svg {
    transition: border-bottom 0.2s ease;
}

/* remove default styling */
button {
    padding: 0px;
    margin: 0px;

    background: none;
    color: inherit;
    outline: inherit;
    border: none;
    font: inherit;

    cursor: pointer;
}

button {
    margin: 4px 2px;

    text-decoration: underline;
    color: white;
    background-color: var(--secondary);
    /* border: 2px groove var(--accent); */
    border: 2px solid var(--accent);
    border-radius: 5px;
}

button:hover {
    /* color: yellow; */
    color: var(--accent);
}

button:active {
    transform: scale(0.98);
}

.navbar {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

    /* makes width calculations take into account/include padding and border */
    box-sizing: border-box;

    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;

    z-index: 1;

    /* background-color: black; */
    background-color: var(--primary);
    text-align: center;
    border: 1px solid var(--accent);
}

.navbar button {
    width: 140px;
    height: 100%;

    font-size: 30px;
}

.logo {
    padding: 0px;
    margin: 4px;
    justify-self: left;
    vertical-align: middle;

    font-size: 30px;
    font-weight: bold;

    color: white;
    text-decoration: none;
}

.logo:hover {
    color: var(--accent);
}

@media (max-width: 800px) {
    .navbar {
        grid-template-columns: 100px 1fr;

        /* TODO: remove this when done debugging (makes it clear when device width is small enough) */
        /* background-color: red; */
    }

    .navbar .navigate {
        /* margin-right: 10px; */
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        /* flex-direction: row-reverse; */
        /* flex-direction: wrap-reverse; */

        justify-self: right;
        align-items: center;
    }

    .navbar .navigate button {
        margin-left: auto;
        margin-right: 5px;
    }
}
