body {
    background-image: url("/public/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
}

.navbar {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;

    z-index: 1;

    background-color: black;
    text-align: center;
}

.navbar button {
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 100%;

    background-color: transparent;
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

.navbar button:hover {
    color: yellow;
}

.logo {
    padding: 0px;
    margin: 4px;
    justify-self: left;
    vertical-align: middle;

    font-size: 30px;
    font-weight: bold;
}


@media only screen and (max-width: 800px) {
    .navbar {
        grid-template-columns: 100px 1fr;

        /* TODO: remove this when done debugging (makes it clear when device width is small enough */
        background-color: red;
    }

    .navbar .navigate {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;

        justify-self: right;
    }
}
