.form {
    display: grid;
    min-height: 80vh;
}

/* TODO: this is slightly lopsided vertically due to the navbar, might want to fix? */
/* UPDATE: this won't necessarily fix the popsidedness, but employing the grid tactics I used in contacts.css could help with layout a bit */
.form .holder {
    place-self: center;

    background-color: var(--primary);
    border: 1px solid var(--accent);
    width: fit-content;
    padding: 30px;
}

/* TODO: additional measures will eventually need to be taken to remove any other stylings that are platform-dependent */
.form input[type="text"] {
    font-size: 20px;

    margin: 10px;
    width: 20ch;

    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
}

@media (max-width: 800px) {
    .form input[type="text"] {
        /* font-size: 20px; */
        width: 15ch;
    }
}

.form button {
    width: 100px;
    height: 30px;
}

.form .edit {
    text-align: right;
}

.form .submit {
    text-align: center;
    margin-top: 20px;
}

.inactive {
    display: none;
}

/* TODO: make sure this contrast with the background is good enough and doesn't have a bad combination for the colorblind */
.error {
    font-weight: bold;
    color: red;
}

.error:empty {
    display: none;
}
