.form {
    display: grid;
    min-height: 80vh;
}

/* TODO: this is slightly lopsided vertically due to the navbar, might want to fix? */
/* UPDATE: this won't necessarily fix the popsidedness, but employing the grid tactics I used in contacts.css could help with layout a bit */
.form .holder {
    place-self: center;

    background-color: var(--primary);
    border: 1px solid var(--accent);
    width: fit-content;
    padding: 30px;
}

/* TODO: additional measures will eventually need to be taken to remove any other stylings that are platform-dependent */
.form input:is([type="text"], [type="password"]) {
    font-size: 20px;

    margin: 10px;
    width: 20ch;

    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
}

@media (max-width: 800px) {
    .form input:is([type="text"], [type="password"]) {
        /* font-size: 20px; */
        width: 15ch;
    }
}

.form button {
    width: 100px;
    height: 30px;
}

.form .edit {
    text-align: right;
}

.form .submit {
    text-align: center;
    margin-top: 20px;
}

/* .form button:has(svg) {
    width: 30px;
    height: 30px;
    text-align: center;
}

.form button svg {
    border-bottom: 2px solid white;
}

.form button:hover svg {
    border-bottom: 2px solid var(--accent);
} */

.inactive {
    display: none;
}

/* TODO: make sure this contrast with the background is good enough and doesn't have a bad combination for the colorblind */
.error {
    font-weight: bold;
    /* color: red; */
    color: #ff3434;
    scale: 100%;
    transition: scale 0.2s;
}

.error:empty {
    /* display: none; */
    scale: 0%;
}

.selected {
    border-width: 4px;
}

/* TODO: don't use id selectors for this, but still increase selector specificity */
#passwordHolder {
    display: inline;
    position: relative;
}
#passwordToggle {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    margin-right: 10px;
    width: 5ch;
    height: 20px;
    border: none;
    background-color: transparent;
}
